# 選擇模型後端：0 -> ML Dev，1 -> Vertex
GOOGLE_GENAI_USE_VERTEXAI=1

# ML Dev 後端設定
# 請至 https://aistudio.google.com 取得此金鑰
GOOGLE_API_KEY=

# Vertex 後端設定
GOOGLE_CLOUD_PROJECT=此處填入您的值
GOOGLE_CLOUD_LOCATION=此處填入您的值
MODEL="gemini-2.5-flash"

DATASET_ID="products_data_agent"
TABLE_ID="shoe_items"

# 重要：將此旗標設為 1 將停用網頁驅動程式
DISABLE_WEB_DRIVER=0

# 用於將 ADK 代理程式部署到 Vertex AI Agent Engine 的臨時儲存桶名稱（您的儲存桶請勿包含 "gs://"）
STAGING_BUCKET=此處填入您的值
